.tituloForm{
    font-size: 24px;
}

form{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 350px;
    margin-left: 10px;
    background-color: rgb(233, 232, 232);
}

form input{
    width: 310px;
    height: 28px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
}

form label {
    margin-left: 15px;
    
}

.botonCompra{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}


