.card {
    height: 380px;
    width: 230px;
    text-align: center;
    border: solid 1px rgb(209, 209, 209);
}

.imagenCard{
    width: 170px;
    height: 210px;
    object-fit: contain;
    padding-top: 5px;
}

h3{
    font-size: 16px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.boton{
    text-decoration: none;
    color: brown;
}